{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions"
          ]
        }
      }
    ]
  ],
  "plugins": ["syntax-flow", "transform-flow-strip-types"]
}